.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.left {
    display: flex;
    align-items: center;

    gap: 2rem;
}

.right{
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
  }